# Habilita el motor de reescritura
RewriteEngine On

# Si el archivo solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-f

# Y si el directorio solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las solicitudes a Public/index.php
RewriteRule ^ Public/index.php [QSA,L]

# Deshabilita la visualización del índice de directorios
Options -Indexes

ErrorDocument 403 /App/Controllers/EarrorController.php