# Habilita el motor de reescritura
RewriteEngine On

# Si el archivo solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-f

# Y si el directorio solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las solicitudes a Public/index.php
RewriteRule ^ Public/index.php [QSA,L]

# Deshabilita la visualización del índice de directorios
Options -Indexes

# Deniega el acceso a archivos .twig
<FilesMatch "\.twig$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Manejo de errores
ErrorDocument 403 /Public/index.php
ErrorDocument 404 /Public/index.php
ErrorDocument 500 /Public/index.php
