RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ Public/index.php [QSA,L]

Options -Indexes

<FilesMatch "\.twig$">
    Order allow,deny
    Deny from all
</FilesMatch>

ErrorDocument 403 /Public/index.php
ErrorDocument 404 /Public/index.php
ErrorDocument 500 /Public/index.php
