.tablaCliente {
    background-color: #303030;
    padding: 1rem;
    margin: 2rem auto;
    width: 100%;
    border-radius: 1rem;
    max-width: 1200px;
}

.clasCliente {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    table-layout: fixed;
}

.clasCliente th, .clasCliente td {
    padding: .7rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.clasCliente th {
    background: linear-gradient(135deg, #6f41bb, #a63dd2);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.clasCliente td {
    border-bottom: 1px solid #fff;
}

.clasCliente tr:nth-child(even) {
    background-color: #2a2a2a;
}

.clasCliente tr:nth-child(odd) {
    background-color: #222;
}

.clasCliente td:hover {
    background-color: #555;
}

.rutina {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin: 3rem auto;
    border-radius: 2rem;
    background-color: #303030;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

@media screen and (max-width:768px) {
    .tablaCliente {
        background-color: transparent;
        border-radius: 1rem;
    }

    .clasCliente, .clasCliente thead, .clasCliente tbody, .clasCliente th, .clasCliente td, .clasCliente tr {
        display: block;
        width: 100%;
        cursor: pointer;
    }

    .clasCliente thead tr {
        display: none;
    }

    .clasCliente tr {
        margin-bottom: 2rem;
    }

    .clasCliente td, .clasCliente th {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: center;
        position: relative;
        padding: 2rem;
    }

    .clasCliente td::before, .clasCliente th::before {
        content: attr(data-label);
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        width: 45%;
        font-weight: bold;
        text-align: center;
    }
}