/*Inicio de footer*/
footer {
    background: radial-gradient(circle, rgba(24, 23, 24, 1) 0%, rgba(24, 23, 24, 0.9) 50%, rgba(0, 0, 0, 0.8) 100%),  no-repeat center center fixed;
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
    border-top: 1px solid #6f41bb;
}

footer h1, footer h2, footer h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

footer .redes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0.5rem;
}

footer .redes a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

footer .redes a:hover {
    color: #6f41bb;
}
/*Fin de footer*/