@media screen and (max-width:768px){ 
    /* Nav y menu desplegable */
    .cerrarmenu {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 1.5rem;
        cursor: pointer;
    }   

    .abrirmenu {
        display: block;
        background-color: transparent;
        font-size: 2rem;
        cursor: pointer;
        border: 0;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        padding: 2rem;
        font-size: 2rem;
        z-index: 1000;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .listmenu1, .listmenu2{
        flex-direction: column;
    }

    .no-scroll {
        overflow: hidden;
    }
    /* fin de nav y menu desplegable */

    .footer{
        display: flex;
        flex-direction: column;
    }

    /* Titulo de bienvenida a entrenador*/
    .tituloent{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        cursor: default;
    }

    /*Botones de entrenador*/
    .btnent{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 2rem auto;
        margin-top: 2rem;
        gap: 5rem;
        width: 50%;
        max-width: 60%;
    }

    /*Propiedad carrusel*/
    .slide{
        margin-top: 4rem;
    }

    /*Inicio de aplicacion responsive apartado de planes*/
    #planes {
        display: flex;
        flex-direction: column;
    }
        .plan{
            text-align: center;
            font-size: .5rem;
            padding: 5rem;
            margin: 2rem;
        }

    #diasagenda{
        display: none;
    }

    /*Inicio de responsive horarios*/
    .horarios, .horarios thead, .horarios tbody, .horarios th, .horarios td, .horarios tr {
        display: block;
        width: 100%;
        cursor: pointer;
    }

    .horarios thead tr {
        display: none;
    }

    .horarios tr {
        margin-bottom: 15px;
    }

    .horarios td, .horarios th {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .horarios td::before, .horarios th::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
    /*Fin de responsive horarios*/

    /*Inicio vista admin*/
    .tituloadmin{
        display: flex;
        justify-content: center;
        color: white;
        font-size: .9rem;
    }

    .btadmin{
        flex-direction: column;
        text-align: center;
    }
    /*Fin vista admin*/

    /*Inicio lista de clientes y ficha tecnica Entrenador/Administrador */
    .lista-clientes {
        margin-top: 5rem;
        padding: 1rem;
    }
        .headFicha button {
            cursor: pointer;
            padding: 0rem;
        }
        .headFicha h4 {
            margin-top: 3rem;
        }
    
    .imgCliente img {
        width:60%;
        height:auto;
    }

    .fichagnrl {
        margin-top: 5rem;
    }

    .divficha-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .divficha, .divficha2 {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .btnGestionar {
        margin: 0;
    }


    /*Form loginUsuario*/
    form {
        width: 70%;
        margin: 10rem auto 40px;
        display: flex;
        flex-direction: column;
    }
        form h2 {
            color: #ffffff;
            font-weight: 400;
            margin: auto;
            font-size: 1.5rem;
        }
    form input, select {
        width: 70%;
        margin: .5rem auto;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
    }    
    form .button {
        cursor: pointer;
        width: 70% auto;
        margin-top: 1rem;
    }
        .button:hover {
            background-color: #6f41bb;
        }
    /*Fin LoginUsuario*/




    
}