@media (max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: flex ;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #030303;
        display: none;
    }

    .menu{
        display: flex;
    } 
    
    .navbar ul li {
        position: relative;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .footer {
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .footer ul {
        margin-top: 15px;
        justify-content: center;
    }
}

