@media screen and (max-width:768px){ 
    
    nav{
        position: absolute;
        top: 0;
        right: 0;
    }

    .listmenu1, .listmenu2{
        flex-direction: column;
    }











    #Inicio{
        display: none;
    }

    #nosotros {
        display: none;
    }
    
    .contacto {
        display: none;
    }

    #planes {
        display: none;
    }

    .footer{
        display: none;
    }
}