@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Style generales para los botones*/
button { 
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    border-color: transparent;
    background-color: #6f41bb;
    border: 0;
}

body {
    background-color: #100e0f;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.indexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

header{
    background-color: #100e0f;
}

.navbar {
    display: flex;
}

.navbar li a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s, background-color 0.3s;
}

nav{
    background-color: #100e0f;
    padding: 20px;
}

nav a:hover {
    color: #6f41bb;
}

.menu1 {
    display: flex;
    margin-right: auto;
}

.menu2 {
    display: flex;
    margin-left: auto;
}

.listmenu1 {
    gap: .5rem;
}

.listmenu1, .listmenu2{
    display: flex;
}

.abrirmenu, .cerrarmenu {
    display: none;
}

.inicioa{
    margin-right: 1rem;
}
.login-btn {
    margin-right: 1rem;
}
.login-btn:hover, .sign-in-btn:hover {
    color: #6f41bb;
}

.slide-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide-item.active {
    opacity: 1;
}

.slide-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    width: 98%;
    height: 90vh;
    overflow: hidden;
    margin: 0 auto;
}

/*Inicia seccion de planes*/
#planes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 10rem;
    padding-bottom: 0;
}

.plan {
    border: 1px solid #6f41bb;
    padding: 7rem;
    margin: 2rem;
    border-radius: 20px;
    cursor: pointer;
    color: #f0f0f0;
    background: linear-gradient(145deg, #282626, #1c1a1a);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(50, 50, 50, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s, background-color 0.3s;
}

.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(111, 65, 187, 0.8);
    background-color: #6f41bb;
}

.plan h1 {
    font-size: 1.5rem;
    color: #9c6aec;
    text-align: center;
    margin-bottom: 1rem;
}

.plan p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.plan a {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s;
}

.plan a:hover {
    color: #9c6aec;
}

@media (max-width: 768px) {
    .planes {
        padding: 3rem;
    }

    .plan {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .plan h1 {
        font-size: 1.2rem;
    }

    .plan p {
        font-size: 0.9rem;
    }
}
/*Fin de planes*/

.empresa {
    margin-top: 4rem;
}

.empresa h1 {
    text-align: center;
    color: #6f41bb;
    font-size: 25px;
}

.empresa h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.contacto {
    margin-top: 50px;
}

.contacto h1 {
    text-align: center;
    font-size: 25px;
    color: #6f41bb;
}

.contacto h2 {
    text-align: center;
}

.contacto span { 
    font-weight: 400;
}

/*Inicio de footer*/
footer {
    background: radial-gradient(circle, rgba(24, 23, 24, 1) 0%, rgba(24, 23, 24, 0.9) 50%, rgba(0, 0, 0, 0.8) 100%),  no-repeat center center fixed;
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
    border-top: 1px solid #6f41bb;
}

footer h1, footer h2, footer h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

footer .redes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0.5rem;
}

footer .redes a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

footer .redes a:hover {
    color: #6f41bb;
}
/*Fin de footer*/