@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    color: #030303;
    
}

header { 
    height: 0;
}

.planes { 
    padding: 7rem 2rem 15rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #100e0f;
}

.planes #plananual h2, #planmensual h2 {
margin-top: 1rem;
}

.planA {
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 2rem;
    background-color: rgb(223, 214, 214);
    margin-left: 25px;
    align-items: stretch;
    height: 20rem;
}

.planA h1, .plan h1 {
    font-size: 1.2rem;
    color: #6f41bb;
    text-align: center;
}

.planA a h2 {
    padding: 0;
    font-size: 1.1rem;
    text-align: center;
    color: #6f41bb;
    cursor: default;
}

.planA  a h2 span:hover {
    color: #9c6aec;
    cursor: pointer;
}
.planA p, .plan p {
    font-weight: 600;
}


.agenda {
    margin-top: 1;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.agenda h1 {
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
    text-transform: uppercase;
    cursor: default;
}

.agenda h1:hover {
    transition: color 0.3s, background-color 0.3s;
    color: #6f41bb;
   
}

.diasagenda{
    color: white;
}

.horarios {
    margin: 0 auto; 
    padding: 0;
    width: 80%; 
    border-collapse: collapse; 
    background-color: black;
    color: white;
    border-radius: 10px; 
    overflow: hidden; 
}

.horarios th, .horarios td {
    padding: 1rem; 
    text-align: center; 
    border: 1px solid #fff; 
}

.horarios th {
    background-color: #6f41bb; 
    color: white; 
    font-size: 1rem; 
}


.horarios td {
    border-bottom: 1px solid #fff; 
}

.horarios tr:nth-child(even) {
    background-color: #222; 
}

.horarios tr:nth-child(odd) {
    background-color: #222; 
}

.horarios td:hover{
    background-color: #555;
}

form {
    max-width: 600px;
    margin: 10rem auto 40px;
    display: flex;
    flex-direction: column;
}

form h2 {
    color: #6f41bb;
    font-weight: 400;
    font-size: 1.5rem;
}

form input, select {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

form .button {
    cursor: pointer;
    margin-top: 1rem;
}

.button:hover {
    background-color: #6f41bb;
}
