@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #100e0f;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    background-color: #100e0f;
}

.navbar {
    display: flex;
}

.navbar li a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s, background-color 0.3s;
}

nav{
    background-color: #100e0f;
    padding: 20px;
}

nav a:hover {
    color: #6f41bb;
}

.menu1 {
    display: flex;
    margin-right: auto;
}

.menu2 {
    display: flex;
    margin-left: auto;
}

.listmenu1, .listmenu2{
    display: flex;
}

.abrirmenu, .cerrarmenu {
    display: none;
}

.inicioa{
    margin-right: 1rem;
}
.login-btn {
    margin-right: 1rem;
}
.login-btn:hover, .sign-in-btn:hover {
    color: #6f41bb;
}

.agenda{
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
    gap: 1rem;
    
}

.tituloent{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    cursor: default;
    margin-top: 5rem;
}

.btnent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    
}

.listaclientes{
    display: flex;
}

.clienteslist:hover, .ejerciciolist:hover, .rutinaslist:hover{
    transform: scale(1.2);
}

.clienteslist, .ejerciciolist, .rutinaslist{
    transition: transform 0.8s ease-in-out; /*Metodo que logra detalle de animacion tipo "progresion"*/
}

button { 
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    border-color: transparent;
    background-color: #6f41bb;
    border: 0;
}

.lista-clientes {
    display: flex;
    margin: 0 auto; 
    padding: 0;
    width: 90%; 
    border-collapse: collapse; 
    background-color: black;
    color: white;
    border-radius: 10px; 
    overflow: hidden; 
    justify-content: center;
}

.lista-clientes th, .lista-clientes td {
    padding: 1rem; 
    text-align: center; 
    border: 1px solid #fff; 
    border-radius: 20px;
    border: hidden;
    gap: 2rem;
}

.lista-clientes.visible {
    display: block;
}

.btn-detalles { 
    border-radius: 10px;
    background-color: black;
}

.fichagnrl{
    display: none;
}

.fichagnrl.visible{
    display: block;
}

.fichatecn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cerrarficha{
    background-color: transparent;
    position: absolute;
    right: 0;
}

h4 {
    text-align: center; 
    margin-bottom: 2rem;
    font-size: 2rem;
}

.divficha-container {
    display: flex;
    text-align: center;
    justify-content: center; 
    margin-bottom: 2rem; 
}

.divficha, .divficha2 {
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 0 10px; 
}

.btnficha {
    display: flex;
    justify-content: center; 
    gap: 2rem; 
}

.adejerci, .adrut {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.adejerci:hover, .adrut:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}

.califidepo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1e1c1f;
    padding: 1.5rem;
    border-radius: .5rem;
    max-width: 50%;
    margin: 1rem auto 40px;
}   
    .califidepo input {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        border-radius: .5rem;
        font-size: 1rem;
        border: none;
        }
form .button {
    cursor: pointer;
}
