@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    color: #030303;
}


.planes { 
    padding: 7rem 2rem 15rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}


.cart, .cart-2, .cart-3 {
    color: white;
    position: relative;
    top: 5.8rem;
    cursor: pointer;
}

.cart {
    right: 7.2rem;
}

.cart:hover {
    color: #6f41bb;
}

.cart-2 {
    right: 33.5rem;
}

.cart-2:hover {
    color: #6f41bb;
}

.cart-3 {
    right: 21.8rem;
}

.cart-3:hover {
    color: #6f41bb;
}


.plan, .planA {
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
    margin-left: 25px;
}

.planA h1, .plan h1 {
    font-size: 1.2rem;
    color: #4B0082;
    text-align: center;
}

.planA h2, .plan h2 {
    font-size: 1.1rem;
    text-align: center;
    color: #4B0082;
}

.planA h2:hover, .plan h2:hover {
    color: #6f41bb;
    cursor: pointer;
}

.planA p, .plan p {
    font-weight: 600;
}


.agenda {
    margin-top: 10rem;
    padding: 3rem;
    font-size: 20px;
    text-align: center;
}

.agenda h1 {
    margin-top: 0;
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
    text-transform: uppercase;
    cursor: default;
}

.agenda h1:hover {
    color: #6f41bb;
}


.horarios {
    position: absolute;
    left: 10%;
}

.horarios a {
    margin-top: 0;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.horarios a:hover {
    color: #6f41bb;
}

.horarios td {
    color: #fff;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    cursor: default;
}

.horarios td:hover {
    color: #6f41bb;
}

.horarios #td-final {
    border: 1px solid white;
    border-top: none;
}

.horarios th {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #6f41bb;
    color: #030303;
}


form {
    max-width: 600px;
    margin: 10rem auto 40px;
    display: flex;
    flex-direction: column;
}

form h2 {
    color: #6f41bb;
    font-weight: 400;
    font-size: 1.5rem;
}

form input, select {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

form .button {
    cursor: pointer;
    margin-top: 1rem;
}

.button:hover {
    background-color: #6f41bb;
}
