@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #030303;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    background-color: #030303;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
}

.navhead{
    display: flex;
}

.navbar li a {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s, background-color 0.3s;
}

.menu1{
    display: flex;
    margin-right: auto;
}

.menu2 {
    display: flex;
    margin-left: auto;
}

.abrirmenu, .cerrarmenu {
    display: none;
}
.inicioa{
    margin-right: 1rem;
}
.login-btn {
    margin-right: 1rem;
}
.login-btn:hover, .sign-in-btn:hover {
    color: #6f41bb;
}

.slide-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide-item.active {
    opacity: 1;
}

.slide-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    width: 98%;
    height: 90vh;
    overflow: hidden;
    margin: 0 auto;
}


#planes { 
    padding: 5rem;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 10rem;
    padding-bottom: 0;
}

.plan { 
    border: 1px solid white;
    padding: 10rem;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.plan a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.plan a:hover {
    color: black;
}

.plan a::selection {
    color: black;
}

.plan:hover { 
    background-color: #6f41bb;
}

.plan p {
    font-size: 20px;
    text-align: center;
}

.empresa {
    margin-top: 4rem;
}

.empresa h1 {
    text-align: center;
    color: #6f41bb;
    font-size: 25px;
}

.empresa h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.contacto {
    margin-top: 50px;
}

.contacto h1 {
    text-align: center;
    font-size: 25px;
    color: #6f41bb;
}

.contacto h2 {
    text-align: center;
}

.contacto span { 
    font-weight: 400;
}

.footer {
    padding: 20rem;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer h1 {
    text-align: center;
    color: #6f41bb;
    font-weight: 600;
}

.footer h2 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 30px;
    right: 10rem;
    color: #6f41bb;
}

.footer h4 {
    text-align: center;
    margin-bottom: 0;
    position: relative;
    top: 150px;
    font-weight: 400;
}

.footer .ig-logo {
    position: relative;
    top: 38px;
    right: 9rem;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.footer .ig-logo:hover {
    color: #6f41bb;
}

.footer .twitter-logo {
    position: relative;
    top: 60px;
    right: 10.4rem;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.footer .twitter-logo:hover {
    color: #6f41bb;
}

.footer .wpp-logo {
    position: relative;
    top: 15px;
    right: 11.6rem;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.footer .wpp-logo:hover {
    color: #6f41bb;
}

.footer .fb-logo {
    position: relative;
    top: 82px;
    right: 13rem;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

.footer .fb-logo:hover {
    color: #6f41bb;
}