@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #030303;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header {
    background-color: #030303;
    padding: 10px 0;
}

.navbar {
    text-align: center;
}

ul {
    display: inline-flex;
    padding: 0;
}

li {
    margin: 0 15px;
}   

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}
.navbar li a:hover{
    color: #4B0082;
}

.menu{
    display: none;
    cursor: pointer;
    float: right;
}
#menuimg{
    top: -10px;
    right: 20px;
    position: relative;
    width: 30px;
    height: 30px;
}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 2px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    
    
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#horarios {
    margin-bottom: 0px;
    margin-top: 0;
}
#horarios h1 {
    margin-top: 0;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.horarios {
    padding-left: 350px;
    padding-bottom: 250px;
    font-size: 20px;
    text-align: center;
}
.horarios td {
    cursor: pointer;
    color: #fff;
}
.horarios th {
    font-size: 25px;
    text-transform: uppercase;
    background-color: #6f41bb;
    color: #030303;
}

#planes { 
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
    margin-top: 0;
    padding-bottom: 0;
    
}

.plan { 
    border: 1px solid white;
    padding: 200px;
    border-radius: 40px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}
.plan  h2 {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 100%;
    text-align: center;
}
.plan:hover { 
    background-color: #6f41bb;
    color: #030303;
}
.plan p {
    font-size: 20px;
    text-align: center;
}
.empresa h1 {
    text-align: center;
    color: #6f41bb;
    font-size: 25px;
}
.empresa h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
.contacto {
    margin-top: 50px;
}
.contacto h1 {
    text-align: center;
    font-size: 25px;
    color: #6f41bb;
}

.contacto h2 {
    text-align: center;
    font-weight: bold;

}
.contacto span {
    font-weight: 300;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid #2e359c3d;
}

.footer ul {
    display: flex;
}

.footer h3 {
    font-size: 30px;
}


.footer a {
    color: white;
    font-size: 20px;
    margin-right: 20px;
    display: block;
}

.footer a:hover {
    color: #3e79a3;
}
