<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../Public/css/style.css">
    <link rel="stylesheet" href="../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="">
    <title>Gym</title>
</head>

<body>
<div class="indexContainer">
    <header>
            <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        <nav class="navbar" id="nav">
            <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></button>
                <div class="menu1">
                    <ul class="listmenu1">
                        <li><a style="color: #6f41bb;" href="/" class="inicioa">Inicio</a></li>
                        <li><a href="/horarios"class="inicioa">Horarios</a></li>
                        <li><a href="/planes" class="inicioa">Planes</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                        {% if calificacion is defined and calificacion is not empty %}
                            {{ calificacion|raw }}
                        {% endif %}
                    </ul>
                </div>
                <div class="menu2">
                    <ul class="listmenu2" id="welcome-message">
                    </ul>
                </div>
        </nav>
    </header>

    <section id="Inicio">
        <div class="slide">
            <div class="slide-inner">
                <div class="slide-item" style="background-image: url('../Public/images/1.jpg');"></div>
                <div class="slide-item" style="background-image: url('../Public/images/2.jpg');"></div>
                <div class="slide-item" style="background-image: url('../Public/images/3.jpg');"></div>
            </div>
        </div>
    </section>

    <section id="nosotros">
        <div class="empresa">
            <h1>GYM</h1>
            <h2>En (GYM) te vamos a ayudar a completar todos tus objetivos fitness, ya sea en gimnasio convencional o en fisioterapia. 
                Tenemos los mejores equipos de ejercicio del mercado, todo lo que necesites está al alcance de tu mano con (GYM). 
                Así que si querés comenzar tu vida "culturista" o simplemente recuperarte de una lesión o incluso fortalecer tus músculos o articulaciones,
                (GYM) es el lugar que estás buscando, simplemente elegí un plan y comenzá a entrenar. </h2>
        </div>
        <br><br>
        <div class="contacto">
            <h1>CONTÁCTANOS</h1>
            <h2>Teléfono: <span>999 999 999</span>  </h2>
            <h2>Email: <span>holahola@gmail.com</span> </h2>
            <h2>Oficinas Administrativas: <span>Agraciada 1243 esq. Millán</span></h2>
        </div>
    </section>

<section id="planes">
        <div class="plan">
            <a href="/planes">Plan 3 meses</a>
        </div>
        <div class="plan">
            <a href="/planes">Plan 6 Meses</a>
        </div>
        <div class="plan">
            <a href="/planes">Plan Anual</a>
        </div>
</section>


    {% include 'footer.html.twig' %}

    <script src="../../Public/js/script.js"></script>
    <script src="../../Public/js/responsive.js"></script>
    </div>
</body>
</html>
