<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/styleentrenador.css">
        <link rel="stylesheet" href="../../Public/css/responsive.css">
        <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<header>
    <section class="navhead">
        <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
    </section>
    <nav class="navbar" id="nav">
        <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl"
                style="color: #ffffff;"></i></button>
        <div class="menu1">
            <ul class="listmenu1">
                <li><a href="/" class="inicioa">Inicio</a></li>
                <li><a href="/horarios" class="inicioa">Horarios</a></li>
                <li><a href="/planes" class="inicioa">Planes</a></li>
                <li><a href="/">Nosotros</a></li>
            </ul>
        </div>
        <div class="menu2">
            <ul class="listmenu2" id="welcome-message">
            </ul>
        </div>
    </nav>
</header>
        <h4>Calificacion de *Nombre de deportista*</h4>
    <form action="POST" class="califidepo">
        <input type="text" placeholder="Puntuacion maxima" max="190" min="0">
        <input type="text" placeholder="Puntuacion esperada" max="20" min="0">
        <input type="text" placeholder="Fuerza maxima" max="25" min="0">
        <input type="text" placeholder="Resistencia anaerobica" max="20" min="0">
        <input type="text" placeholder="Resiliencia" max="20" min="0">
        <input type="text" placeholder="Flexibilidad" max="20" min="0">
        <input type="text" placeholder="Resistencia muscular" max="20" min="0">
        <input type="text" placeholder="Cumplimiento de agenda" max="20" min="0">
        <input type="text" placeholder="Resistencia a la monotonia" max="20" min="0">
        <input type="text" placeholder="Cumplimiento de agenda" max="20" min="0">
            <input type="submit">
    </form>

    <script src="../../Public/js/script.js"></script>
    <script src="../../Public/js/responsive.js"></script>
<body>
    
</body>
</html>