<link rel="stylesheet" href="../../Public/css/styleCliente.css">
<h1>Calificación</h1>
    <section class="agendaCliente">
    <div class="tablaCliente">
        <table class="clasCliente" id="tablaCalificaciones">
            <tr>
                <th>Fecha</th>
                <th>Puntuacion Total</th>
                <th>Fuerza Muscular</th>
                <th>Resistencia Muscular</th>
                <th>Resistencia Anaerobica</th>
                <th>Resiliencia</th>
                <th>Flexibilidad</th>
                <th>Cumplimiento de Agenda</th>
                <th>Resistencia a la Monotonia</th>
                <th>Imprimir</th>
            </tr>
        </table>
    </div>
    </section>