<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/registerUsuario.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Registrar Cliente</title>
</head>
<body>
        <div class="registerContainer">
    <header>
        <section class="navhead">
            <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        </section>
        <nav class="navbar" id="nav">
            <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></button>
                <div class="menu1">
                    <ul class="listmenu1">
                        <li><a href="/" class="inicioa">Inicio</a></li>
                        <li><a href="/horarios" class="inicioa">Horarios</a></li>
                        <li><a href="/planes" class="inicioa">Planes</a></li>
                        <li><a href="/">Nosotros</a></li>
                    </ul>
                </div>
                <div class="menu2">
                    <ul class="listmenu2" id="welcome-message">
                    </ul>
                </div>
        </nav>
    </header>

    <form action= "/registrarcliente" method= "POST" onsubmit="return validateForm()">
        <fieldset>
            <legend>Nombre</legend>
            <input type="text" maxlength="30" name="nombre" required>
            <br></br>
            <legend>Apellido</legend>
            <input type="text" max="30" name="apellido" required>
            <br></br>
            <legend>N° de Telefono</legend>
            <input type="text"  name="telefono"  placeholder="(Formato: +598xxxxxxxx)" required pattern="\+598\d{8}" title="Debe comenzar con +598 seguido de 8 dígitos">
            <br></br>
            <legend>Correo Electronico</legend>
            <input type="email" maxlength="40"  name="email" required>
            <br></br>
            <legend>Contraseña</legend>
            <input type="password"  name="passwd" minlength= "08" required>
        </fieldset>
       
        <fieldset>
            <legend>Tipo de Documento</legend>
            <select name="tipoDocumento">
            <option value="CI">Cédula de identidad</option>
            <option value="Pasaporte">Pasaporte</option>
            <br></br>
            <legend>Número de Documento</legend>
            <input type="text" name="nroDocumento" required>
            <br></br>
            <h2>Fecha de Nacimiento</h2>
            <input type="date" name="fechaNacimiento" required>
            <br></br>
            <legend>Patologías</legend>
            <input type="text" maxlength="25"  name="patologias" required placeholder="Patologías">
            <br></br>
            <legend>Altura</legend>
            <input type="text" placeholder="1.90" id="altura" name="altura" required> 
        </fieldset>
       
        <fieldset>
            <legend>Peso</legend>
            <input type="text"  name="peso" required placeholder="Peso">
            <br></br>
            <legend>Calle</legend>
            <input type="text" maxlength="100"  name="calle" required placeholder="Calle">
            <br></br>
            <legend>Número de puerta</legend>
            <input type="text"  name="numero" required placeholder="Número de puerta">
            <br></br>
            <legend>Esquina</legend>
            <input type="text"  name="esquina" required placeholder="Esquina">
            <br></br>
        </fieldset> 
        <input type="submit" value="ENVIAR" class="button">
</form>

            <footer class="footer">
                <h1>Gracias por elegirnos!</h1>
                <h2>Nuestras Redes</h2>
                <div class="redes">
                    <a href="https://www.instagram.com/fidatdevs/" class="ig-logo">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/Proyecto3Fidat/ProyectoEgreso" class="github-logo">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <h4>Copyright <span>&copy;</span> GYM 2024</h4>
            </footer>
    <script src="../../Public/js/script.js"></script>
    <script src="../../Public/js/responsive.js"></script>
    </div>
</body>
</html>
