<link rel="stylesheet" href="../../Public/css/formEjercicio.css">
<div id="formulario-crear-ejercicio" class="content oculto">
    <form action="/crearEjercicio" method="post" class="califidepo">
        <input type="text" id="documento" name="nombre" placeholder="Nombre del Ejercicio" required>
        <input type="text" id="documento" name="descripcion" placeholder="Descripcion" required>
        <select id="tipoUsuario" name="grupoMuscular" onchange="toggleFields()" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="deportista">Pectoral, Hombro y Triceps</option>
            <option value="deportista">Espalda, Hombro(pres) y Biceps</option>
            <option value="deportista">Pierna</option>
            <option value="deportista">Entrenamiento de pilates</option>
        </select><br><br>
        <select id="tipoUsuario" name="tipoEjercicio" onchange="toggleFields()" required>
            <option value="" disabled selected>Tipo de Ejercicio</option>
            <option value="deportista">Aeróbico</option>
            <option value="deportista">Flexibilidad</option>
            <option value="deportista">Fuerza o Resistencia</option>
        </select><br><br>
        <input type="submit">
    </form>
</div>
