<link rel="stylesheet" href="../../Public/css/formEjercicio.css">
<div id="formulario-crear-ejercicio" class="content oculto">
    <form action="/calificacion" method="post" class="califidepo">
        <input type="text" id="documento" name="nroDocumento" placeholder="Documento" required>
        <input name="puntMaxima" type="text" placeholder="Puntuacion maxima">
        <input name="puntuacionEsperado" type="text" placeholder="Calificacion Esperada">
        <input name="fuerzaMusc" type="text" placeholder="Fuerza Muscular">
        <input name="resAnaerobica" type="text" placeholder="Resistencia anaerobica">
        <input name="resiliencia" type="text" placeholder="Resiliencia">
        <input name="flexibilidad" type="text" placeholder="Flexibilidad">
        <input name="resMusc" type="text" placeholder="Resistencia muscular">
        <input name="cumplAgenda" type="text" placeholder="Cumplimiento de agenda">
        <input name="resMonotonia" type="text" placeholder="Resistencia a la monotonia">
        <input type="submit">
    </form>
</div>
