<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/styleentrenador.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <link rel="stylesheet" href="../../Public/css/formEjercicio.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Entrenador</title>
</head>
<header>
    <section class="navhead">
        <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
    </section>
    <nav class="navbar" id="nav">
        <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl"
                                                  style="color: #ffffff;"></i></button>
        <div class="menu1">
            <ul class="listmenu1">
                <li><a href="/" class="inicioa">Inicio</a></li>
                <li><a href="/horarios" class="inicioa">Horarios</a></li>
                <li><a href="/planes" class="inicioa">Planes</a></li>
                <li><a href="/">Nosotros</a></li>
            </ul>
        </div>
        <div class="menu2">
            <ul class="listmenu2" id="welcome-message">
            </ul>
        </div>
    </nav>
</header>
<body>
<a class="tituloent" href="#">Bienvenido, Usuario</a>

<div class="btnent">
    <a href="/listaclientes">
        <button class="clienteslist">Lista de clientes</button>
    </a>
    <a href="/listaejercicios">
        <button class="ejerciciolist">Lista de ejercicios</button>
    </a>
    <button id="btn-crear-ejercicio" class="ejerciciolist">Crear Ejercicio</button>
    <button id="btn-crear-combo-ejercicio" class="ejerciciolist">Crear Combo Ejercicio</button>
    <button id="btn-crear-rutina" class="ejerciciolist">Crear Rutina</button>
</div>

<div id="modal-overlay" class="modal-overlay">
    <div class="modal-content">
        <button class="modal-close-button">
            <span class="X"></span>
            <span class="Y"></span>
            <div class="close">Close</div>
        </button>
        <iframe id="form-iframe" src="" frameborder="0" width="100%" height="500px"></iframe>
    </div>
</div>


<section class="agenda">
    <h1>HORARIOS</h1>
    <table class="horarios">
        <tr id="diasagenda">
            <th data-label="Hora">Hora</th>
            <th data-label="Lunes">Lunes</th>
            <th data-label="Martes">Martes</th>
            <th data-label="Miércoles">Miércoles</th>
            <th data-label="Jueves">Jueves</th>
            <th data-label="Viernes">Viernes</th>
        </tr>
        <tr>
            <th data-label="Hora">7:00 a 8:00</th>
            <td data-label="Lunes">Pilates</td>
            <td data-label="Martes">Gimnasio Libre</td>
            <td data-label="Miércoles">Estiramiento</td>
            <td data-label="Jueves">Pilates</td>
            <td data-label="Viernes" id="td-final">Boxeo</td>
        </tr>
        <tr>
            <th data-label="Hora">8:30 a 9:45</th>
            <td data-label="Lunes">Gimnasio Libre</td>
            <td data-label="Martes">Pilates</td>
            <td data-label="Miércoles">Recuperación Muscular</td>
            <td data-label="Jueves">Cardio</td>
            <td data-label="Viernes" id="td-final">Gimnasio Libre</td>
        </tr>
        <tr>
            <th data-label="Hora">9:45 a 10:30</th>
            <td data-label="Lunes">Caminadora</td>
            <td data-label="Martes">Boxeo</td>
            <td data-label="Miércoles">Masajes</td>
            <td data-label="Jueves">Boxeo</td>
            <td data-label="Viernes" id="td-final">Cardio</td>
        </tr>
        <tr>
            <th data-label="Hora">9:45 a 10:30</th>
            <td data-label="Lunes">Boxeo</td>
            <td data-label="Martes">Cardio</td>
            <td data-label="Miércoles">Fortalecimiento de tendones</td>
            <td data-label="Jueves">Tren Inferior</td>
            <td data-label="Viernes" id="td-final">Tren Superior</td>
        </tr>
        <tr>
            <th data-label="Hora">11:00 a 12:00</th>
            <td data-label="Lunes">Tren Superior</td>
            <td data-label="Martes">Tren Inferior</td>
            <td data-label="Miércoles">Libre</td>
            <td data-label="Jueves">Tren Superior</td>
            <td data-label="Viernes" id="td-final">Recuperación Muscular</td>
        </tr>
        <tr>
            <th data-label="Hora">12:15 a 13:45</th>
            <td data-label="Lunes">Cardio</td>
            <td data-label="Martes">Caminadora</td>
            <td data-label="Miércoles">Tren Superior</td>
            <td data-label="Jueves">Fortalecimiento de tendones</td>
            <td data-label="Viernes" id="td-final">Caminadora</td>
        </tr>
        <tr>
            <th data-label="Hora">14:00 a 15:00</th>
            <td data-label="Lunes">Tren Inferior</td>
            <td data-label="Martes">Tren Superior</td>
            <td data-label="Miércoles">Cardio</td>
            <td data-label="Jueves">Estiramiento</td>
            <td data-label="Viernes" id="td-final">Masajes</td>
        </tr>
    </table>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btnCrearEjercicio = document.getElementById('btn-crear-ejercicio');
        const btnCrearComboEjercicio = document.getElementById('btn-crear-combo-ejercicio');
        const btnCrearRutina = document.getElementById('btn-crear-rutina');
        const modalOverlay = document.getElementById('modal-overlay');
        const closeModalButton = document.querySelector('.modal-close-button');
        const iframe = document.getElementById('form-iframe');

        // Evento para abrir el modal de Crear Ejercicio y cargar el formulario en el iframe
        btnCrearEjercicio.addEventListener('click', function () {
            iframe.src = '/crearEjercicio'; // URL del formulario de Crear Ejercicio
            modalOverlay.style.display = 'flex'; // Mostrar el modal
        });

        // Evento para abrir el modal de Crear Combo Ejercicio y cargar el formulario en el iframe
        btnCrearComboEjercicio.addEventListener('click', function () {
            iframe.src = '/crearComboEjercicio'; // URL del formulario de Crear Combo Ejercicio
            modalOverlay.style.display = 'flex'; // Mostrar el modal
        });

        // Evento para abrir el modal de Crear Rutina y cargar el formulario en el iframe
        btnCrearRutina.addEventListener('click', function () {
            iframe.src = '/obtenerComboEjercicios';
            modalOverlay.style.display = 'flex';
        });

        // Evento para cerrar el modal
        closeModalButton.addEventListener('click', function () {
            modalOverlay.style.display = 'none';
            iframe.src = '';
        });


        modalOverlay.addEventListener('click', function (event) {
            if (event.target === modalOverlay) {
                modalOverlay.style.display = 'none';
                iframe.src = ''; // Limpiar la URL del iframe
            }
        });
    });
</script>

{% include 'footer.html.twig' %}
<script src="../../Public/js/script.js"></script>
<script src="../../Public/js/responsive.js"></script>
</body>
</html>
