<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/stylesExtra.css">
    <link rel="stylesheet" href="../../Public/css/styleentrenador.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Entrenador</title>
</head>
<body>
    <header>
        <section class="navhead">
            <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        </section>
        <nav class="navbar" id="nav">
            <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></button>
                <div class="menu1">
                    <ul class="listmenu1">
                        <li><a href="#" class="inicioa">Inicio</a></li>
                        <li><a href="../App/Views/agenda.html" class="inicioa">Horarios</a></li>
                        <li><a href="../App/Views/planes.html" class="inicioa">Planes</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                    </ul>
                </div>
                <div class="menu2">
                    <ul class="listmenu2" id="welcome-message">
                    </ul>
                </div>
        </nav>
    </header>
        <section>
            <div>
                <a class="tituloent" href="#">Bienvenido, *Nombre de entrenador*</a>
            </div>
        </section>
        
        <section>
            <div class="btnent">
               <a href="../Views/listaclientes.html"><button class="clienteslist">Lista de clientes</button></a> 
                <a href="#"><button class="ejerciciolist">Lista de ejercicios</button></a>
                <a href="#"><button class="rutinaslist">Lista de rutinas</button></a>
            </div>
        </section>
        <section class="agenda">
            <h1>HORARIOS</h1>
            <table class="horarios">
                <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
                <tr>
                    <th>7:00 a 8:00</th>
                    <td>Pilates</td>
                    <td>Gimnasio Libre</td>
                    <td>Estiramiento</td>
                    <td>Pilates</td>
                    <td id="td-final">Boxeo</td>
                </tr>
                <tr>
                    <th>8:30 a 9:45</th>
                    <td>Gimnasio Libre</td>
                    <td>Pilates</td>
                    <td>Recuperación Muscular</td>
                    <td>Cardio</td>
                    <td id="td-final">Gimnasio Libre</td>
                </tr>
                <tr>
                    <th>9:45 a 10:30</th>
                    <td>Caminadora</td>
                    <td>Boxeo</td>
                    <td>Masajes</td>
                    <td>Boxeo</td>
                    <td id="td-final">Cardio</td>
                </tr>
                <tr>
                    <th>9:45 a 10:30</th>
                    <td>Boxeo</td>
                    <td>Cardio</td>
                    <td>Fortalecimiento de tendones</td>
                    <td>Tren Inferior</td>
                    <td id="td-final">Tren Superior</td>
                </tr>
                <tr>
                    <th>11:00 a 12:00</th>
                    <td>Tren Superior</td>
                    <td>Tren Inferior</td>
                    <td>Libre</td>
                    <td>Tren Superior</td>
                    <td id="td-final">Recuperación Muscular</td>
                </tr>
                <tr>
                    <th>12:15 a 13:45</th>
                    <td>Cardio</td>
                    <td>Caminadora</td>
                    <td>Tren Superior</td>
                    <td>Fortalecimiento de tendones</td>
                    <td id="td-final">Caminadora</td>
                </tr>
                <tr>
                    <th>14:00 a 15:00</th>
                    <td>Tren Inferior</td>
                    <td>Tren Superior</td>
                    <td>Cardio</td>
                    <td>Estiramiento</td>
                    <td id="td-final">Masajes</td>
                </tr>
              </table> 
        </section>
        
<script src="../../Public/js/script.js"></script>
</body>
</html>