<link rel="stylesheet" href="../Public/css/header.css">
<header>
    <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
    <nav class="navbar" id="nav">
        <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></button>
        <div class="menu1">
            <ul class="listmenu1">
                <li><a href="/" class="inicioa">Inicio</a></li>
                <li><a href="/horarios"class="inicioa">Horarios</a></li>
                <li><a href="/planes" class="inicioa">Planes</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                {% if calificacion is defined and calificacion is not empty %}
                    {{ calificacion|raw }}
                {% endif %}
            </ul>
        </div>
        <div class="menu2">
            <ul class="listmenu2" id="welcome-message">
            </ul>
        </div>
    </nav>
</header>