<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IngresarGym</title>
</head>
<body>
    <form action="/ingresarGym" method="post">
        <label for="nombre">Nombre</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>
        <label for="direccion">Calle</label><br>
        <input type="text" id="calle" name="calle" required><br><br>
        <label for="horario">Esquina</label><br>
        <input type="text" id="esquina" name="esquina" required><br><br>
        <label for="descripcion">Numero de Puerta</label><br>
        <input type="text" id="nroPuerta" name="nroPuerta" required><br><br>
        <label for="descripcion">Capacidad por Turno</label><br>
        <input type="text" id="CapXTurno" name="capXTurno" required><br><br>
        <input type="submit">
    </form>
</body>
</html>