<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/styleentrenador.css">
    <link rel="stylesheet" href="../../Public/css/listaejercicio.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Lista de ejercicios</title>
</head>
<body>    
    <header>
        <section class="navhead">
            <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        </section>
        <nav class="navbar" id="nav">
            <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl"
                                                      style="color: #ffffff;"></i></button>
            <div class="menu1">
                <ul class="listmenu1">
                    <li><a href="/" class="inicioa">Inicio</a></li>
                    <li><a href="/horarios" class="inicioa">Horarios</a></li>
                    <li><a href="/planes" class="inicioa">Planes</a></li>
                    <li><a href="/">Nosotros</a></li>
                </ul>
            </div>
            <div class="menu2">
                <ul class="listmenu2" id="welcome-message">
                </ul>
            </div>
        </nav>
    </header>


    <h1>Entrenamiento de Pectoral, Hombro y Tríceps</h1>
    <h2>Pectoral</h2>
    <table class="listaejercicio">
        <tr>
            <th>Ejercicio</th>
            <th>Series</th>
            <th>Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Press banca plano</td>
            <td data-label="Series">1 serie de calentamiento y 3 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10</td>
        </tr> 
        <tr>
            <td data-label="Ejercicio">Press banca inclinado</td>
            <td data-label="Series">Idem banco plano</td>
            <td data-label="Repeticiones">14, 12, 10</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Aperturas con mancuerna y banco plano</td>
            <td data-label="Series">1 serie de calentamiento y 3 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Aperturas con mancuerna y banco inclinado</td>
            <td data-label="Series">Idem aperturas inclinadas</td>
            <td data-label="Repeticiones">14, 12, 10</td>
        </tr>
    </table>

    <h2>Hombro</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Elevaciones laterales</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10, 8</td>
        </tr>
    </table>

    <h2>Tríceps</h2>
    <table class="listaejercicio">
        <tr>
           <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Extensión de tríceps en polea</td>
            <td data-label="Series">3 series de trabajo</td>
            <td>16, 14, 12</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Press francés en banco y barra Z</td>
            <td data-label="Series">3 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10</td>
        </tr>
    </table>

    <h1>Entrenamiento de Espalda, Hombro (Press) y Bíceps</h1>
    <h2>Espalda</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Empujes en polea alta</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10, 8</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Empujes en polea baja</td>
            <td data-label="Series">Idem polea alta</td>
            <td data-label="Repeticiones">14, 12, 10, 8</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Hiperextensiones</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">10, 10, 10, 10</td>
        </tr>
    </table>

    <h2>Hombro</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Press en multipower</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10, 8</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Elevaciones frontales</td>
            <td data-label="Series">3 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10</td>
        </tr>
    </table>

    <h2>Bíceps</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Curl en barra</td>
            <td data-label="Series">4 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10, 8</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Curl de martillo con mancuerna</td>
            <td data-label="Series">3 series de trabajo</td>
            <td data-label="Repeticiones">12, 10, 8</td>
        </tr>
    </table class="listaejercicio">

    <h1>Entrenamiento de Pierna</h1>
    <h2>Cuádriceps</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Sentadilla</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">16, 14, 12, 10</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Extensiones</td>
            <td data-label="Series">4 series de trabajo</td>
            <td data-label="Repeticiones">10, 10, 10, 10</td>
        </tr>
    </table class="listaejercicio">

    <h2>Femoral</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Curl de femoral en banco</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">14, 12, 10, 8</td>
        </tr>
    </table>

    <h2>Gemelo</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Elevaciones de pie</td>
            <td data-label="Series">1 serie de calentamiento y 4 series de trabajo</td>
            <td data-label="Repeticiones">16, 14, 12, 10</td>
        </tr>
    </table>

    <h1>Entrenamiento de Pilates (Fisioterapia y Público General)</h1>
    <h2>Flexibilidad</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">La foca (The seal)</td>
            <td data-label="Series">Mantener la postura entre 20 a 30 segundos</td>
            <td data-label="Repeticiones">5-8</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Estiramiento de columna (Spine stretch)</td>
            <td data-label="Series">Estirar la espalda y brazos hacia adelante, volver a la posición inicial</td>
            <td data-label="Repeticiones">2-4</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">La sierra (The saw)</td>
            <td data-label="Series">Inclinar la columna hacia un lado, luego al otro</td>
            <td data-label="Repeticiones">Por lado</td>
        </tr>
    </table>

    <h2>Resistencia</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Cisne (Swan)</td>
            <td data-label="Series">Levantar el torso y mantener la posición</td>
            <td data-label="Repeticiones">5-8</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Flexiones de rodilla (Knee folds)</td>
            <td data-label="Series">Levantar una pierna en ángulo de 90º, luego la otra</td>
            <td data-label="Repeticiones">5-8 por pierna</td>
        </tr>
    </table>

    <h2>Equilibrio</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">El cien (The hundred)</td>
            <td data-label="Series">Elevar las piernas y mantener el torso recto mientras se realizan 100 movimientos rápidos con los brazos</td>
            <td data-label="Repeticiones">100</td>
        </tr>
    </table>

    <h2>Fortalecimiento Muscular</h2>
    <table class="listaejercicio">
        <tr>
            <th data-label="Ejercicio">Ejercicio</th>
            <th data-label="Series">Series</th>
            <th data-label="Repeticiones">Repeticiones</th>
        </tr>
        <tr>
            <td data-label="Ejercicio">Círculos con una pierna (Leg circle)</td>
            <td data-label="Series">Hacer círculos con una pierna levantada mientras se mantiene la otra en el suelo</td>
            <td data-label="Repeticiones">4 por pierna</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Estiramiento de gato (Cat)</td>
            <td data-label="Series">En posición cuadrúpeda, arquear la espalda hacia arriba y luego hacia abajo</td>
            <td data-label="Repeticiones">4</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">El puente (Shoulder Bridge)</td>
            <td data-label="Series">Elevar la cadera mientras los hombros permanecen en el suelo</td>
            <td data-label="Repeticiones">Mantener por 5 respiraciones, repetir</td>
        </tr>
        <tr>
            <td data-label="Ejercicio">Patada lateral (The side kick)</td>
            <td data-label="Series">En posición lateral, elevar y bajar la pierna libremente</td>
            <td data-label="Repeticiones">6-8 por pierna</td>
        </tr>
    </table>

    <script src="../../Public/js/script.js"></script>
    <script src="../../Public/js/responsive.js"></script>

</body>
</html>