<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/styleentrenador.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Lista de Clientes</title>
</head>
<body>
    <header>
        <section class="navhead">
            <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        </section>
        <nav class="navbar" id="nav">
            <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></button>
                <div class="menu1">
                    <ul class="listmenu1">
                        <li><a href="#" class="inicioa">Inicio</a></li>
                        <li><a href="../App/Views/agenda.html" class="inicioa">Horarios</a></li>
                        <li><a href="../App/Views/planes.html" class="inicioa">Planes</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                    </ul>
                </div>
                <div class="menu2">
                    <ul class="listmenu2" id="welcome-message">
                    </ul>
                </div>
        </nav>
    </header>

    <section class="listaclientes">
        <table class="lista-clientes">
            <tr>
                <th>Nombre de Cliente</th>
                <th>Documento</th>
                <th><a href="#"><button class="btn-detalles">Detalles</button></a></th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </section>



    <script src="../../Public/js/script.js"></script>
</body>
</html>