<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.1">
    <link rel="stylesheet" href="../../Public/css/stylesExtra.css">
    <title>Ingresar Cliente</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="agenda.html">Horarios</a></li>
                <li><a href="planes.html">Planes</a></li>
                <li><a href="inicio.html">Nosotros</a></li>
                <li><a href="#" class="login-btn" style="color: #6f41bb;">Ingresar</a></li>
                <li><a href="crearUsuario.html" class="sign-in-btn">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <form action="/login" method="post">
        <h2>Usuario</h2>
        <input type="text" name="documento" placeholder="Documento" > <br> <br>
        <h2>Contraseña</h2>
        <input type="password" name="passwd" placeholder="Contraseña"> <br> <br>
        <input type="submit" name="Ingresar" value="INGRESAR" class="button">
    </form>
</body>
</html>