<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.1">
    <link rel="stylesheet" href="../../Public/css/stylesExtra.css">
    <link rel="stylesheet" href="../../Public/css/style.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Ingresar Cliente</title>
</head>
<body>
    <header>
        <section class="navhead">
            <button class="abrirmenu" id="abrir"><i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i></button>
        </section>
        <nav class="navbar" id="nav">
            <button class="cerrarmenu" id="cerrar"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></button>
                <div class="menu1">
                    <ul class="listmenu1">
                        <li><a href="#" class="inicioa">Inicio</a></li>
                        <li><a href="../App/Views/agenda.html" class="inicioa">Horarios</a></li>
                        <li><a href="../App/Views/planes.html" class="inicioa">Planes</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                    </ul>
                </div>
                <div class="menu2">
                    <ul class="listmenu2" id="welcome-message">
                    </ul>
                </div>
        </nav>
    </header>

    <form action="/login" method="post">
        <h2>Usuario</h2>
        <input type="text" name="documento" placeholder="Documento" > <br> <br>
        <h2>Contraseña</h2>
        <input type="password" name="passwd" placeholder="Contraseña"> <br> <br>
        <input type="submit" name="Ingresar" value="INGRESAR" class="button">
        <p id="error-message" style="color: red;"></p>
    </form>

        <script src="js/script.js"></script>

</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');
    if (error === 'true') {
        document.getElementById('error-message').textContent = 'El usuario o la contraseña es incorrecto.';
    }
</script>
</html>